h1,h2,h3 {
    text-align: center;
}
body{
    font-family: sans-serif;
    font-size: large;
    font-style: italic;
    background-color: yellow;
}

.button{
    background-color: blue;
    color: aqua;
}