h1,h2,h3 {
    text-align: center;
    
}

body{
    font-family: sans-serif;
    font-size: large;
    font-style: italic;
    background-color: rgb(78, 133, 242);
}

.button{
    background-color: blue;
    color: aqua;
    margin:0 auto;

}

fieldset {
    
    border:0;
    
}
label {
    display: block;
    padding: 10px;
    height: 10px;
    font-size: 13px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
